.day {
  margin: 100;
}

.hours {
  justify-content: space-between;

  margin: 0 0px;
  margin-top: 50;
  align-items: center;
  display: flex; /* or inline-flex */
  flex-direction: row;
}
.main-display-weather {
  margin: 90;
  /* border: solid; */
  /* background-color: gray; */
}
