.day {
  border-color: black;
  border: 1px;
  border-style: solid;
}

.hours {
  justify-content: space-between;

  margin: 0 5px;
  margin-top: 50;
  align-items: center;
  display: flex; /* or inline-flex */
  flex-direction: row;
  border-color: black;
  border: 2px;
  border-style: solid;
}
